@media screen and (max-width: 600px) {
  .container {
    max-width: 375px;
    padding-inline: 14px;
  }
  header.container {
    margin-top: 21px;
  }
  .header-nav ul {
    gap: 30px;
    flex-direction: column;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    top: 10%;
    opacity: 0;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    pointer-events: none;
  }
  .header-nav ul.active {
    pointer-events: all;
    height: auto;
    opacity: 1;
    background-color: #121212;
    padding-block: 15px;
  }
  .burger-btn img.rotate {
    transform: rotate(90deg);
  }
  .burger-btn.rotate {
    transform: rotate(90deg);
  }
  .burger-btn {
    display: block;
    border: none;
    outline: none;
    background-color: transparent;
  }
  .profile-wrapper {
    margin-top: 80px;
    flex-direction: column;
  }
  .text-wrapper .highlight {
    font-size: 40px;
  }
  .profile-wrapper.top .text-wrapper .description,
  .profile-wrapper button {
    display: none;
  }
  .text-wrapper h1 {
    font-family: "PoppinsMedium";
    font-size: 64px;
  }
  .text-wrapper span {
    font-size: 64px;
    margin-top: 0px;
    align-self: flex-start;
  }
  .img-wrapper .img-container {
    flex-direction: column-reverse;
    gap: 19px;
  }
  .img-wrapper .img-container {
    align-items: start;
  }
  .img-wrapper .about-above-img {
    max-width: 344px;
  }
  .img-wrapper .about-bottom-img {
    display: none;
  }
  .social-links {
    margin-top: 19px;
  }
  .text-wrapper h2 {
    font-size: 36px;
  }
  .bottom {
    margin-top: 62px;
  }
  .profile-wrapper.bottom .text-wrapper .description {
    text-align: start;
  }
  .diagram {
    gap: 28px;
  }
  .services-container {
    margin-top: 74px;
  }
  .service-text-container {
    text-align: start;
  }
  .service-text-container p {
    margin-top: 40px;
    text-align: start;
  }
  .service-text-container h2 {
    font-size: 36px;
  }
  .service-card-container {
    flex-direction: column;
    gap: 22px;
    align-items: center;
  }
  .myProjects-container h2 {
    font-size: 36px;
  }
  .myProjects-text-container,
  .myProjects-text-container p {
    text-align: start;
  }
  .myProjects-text-container p {
    margin-top: 40px;
  }
  .myProjects-container .btn-container {
    margin-top: 27px;
    overflow-x: scroll;
    justify-content: stretch;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .myProjcets-projects-wrapper {
    margin-top: 47px;
    flex-direction: column;
    gap: 40px;
  }
  .testimonials-text-container h2 {
    font-size: 36px;
  }
  .testimonials-text-container {
    text-align: start;
  }
  .testimonials-text-container p {
    text-align: start;
  }
  .testimonials-slider-container {
    margin-top: 30px;
  }
  .testimonials-slide {
    max-width: 347px;
    height: 500px;
  }
  .testimonials-slide-wrapper-img {
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 21px;
  }
  .testimonials-slide-wrapper-img img {
    max-width: 125px;
    width: 100%;
  }
  .testimonials-slide-wrapper {
    flex-direction: column;
    padding-inline: 22px;
  }
  .testimonials-slide-wrapper-text .position {
    display: none;
  }
  .testimonials-slide-wrapper-img .position {
    display: flex;
    gap: 17px;
  }
  .testimonials-slide-wrapper-text p::before {
    bottom: 95%;
    left: -5%;
  }
  .testimonials-slide-wrapper-text p::after {
    top: 92.5%;
    margin-left: 7px;
  }
  .slider-dots {
    margin-top: 38px;
  }
  .contact-container h2 {
    font-size: 36px;
  }
  .contact-container p {
    text-align: start;
    margin-top: 40px;
  }
  .contact-container {
    text-align: start;
  }
  form {
    max-width: 347px;
    display: flex;
    flex-direction: column;
  }
  .contact-form-container input {
    max-width: none;
  }
  .footer-container {
    margin-top: 86px;
    flex-direction: column-reverse;
  }
  .footer-navigation.container {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
  }
  .rights {
    font-size: 16px;
    padding: 48px;
    margin-top: 55px;
  }
  #dialog {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-inline: auto;
    text-align: justify;
    left: 0;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .container {
    max-width: 800px;
    padding-inline: 20px;
  }
  header.container {
    margin-top: 21px;
  }
  .header-nav ul {
    gap: 30px;
    flex-direction: column;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    top: 10%;
    opacity: 0;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    pointer-events: none;
  }
  .header-nav ul.active {
    pointer-events: all;
    height: auto;
    opacity: 1;
    background-color: #121212;
    padding-block: 15px;
  }
  .burger-btn img.rotate {
    transform: rotate(90deg);
  }
  .burger-btn.rotate {
    transform: rotate(90deg);
  }
  .burger-btn {
    display: block;
    border: none;
    outline: none;
    background-color: transparent;
  }
  .profile-wrapper {
    margin-top: 80px;
    flex-direction: column;
  }
  .text-wrapper .highlight {
    font-size: 40px;
  }
  .profile-wrapper.top .text-wrapper .description,
  .profile-wrapper button {
    display: none;
  }
  .text-wrapper h1 {
    font-family: "PoppinsBold";
    font-size: 100px;
  }
  .text-wrapper span {
    font-size: 100px;
    margin-top: -26px;
    align-self: flex-end;
  }
  .img-wrapper {
    margin-top: 30px;
  }
  .img-wrapper .img-container {
    flex-direction: column;
    gap: 19px;
    align-items: center;
  }
  .img-wrapper .about-above-img {
    max-width: none;
  }
  .img-wrapper .about-bottom-img {
    display: none;
  }
  .social-links {
    margin-top: 40px;
  }
  .text-wrapper {
    max-width: none;
  }
  .text-wrapper h2 {
    font-size: 56px;
    text-align: center;
  }
  .bottom {
    margin-top: 62px;
  }
  .profile-wrapper.bottom .text-wrapper .description {
    text-align: justify;
  }
  .diagram {
    gap: 28px;
  }
  .services-container {
    margin-top: 74px;
  }
  .service-text-container {
    text-align: center;
  }
  .service-text-container p {
    margin-top: 40px;
    text-align: justify;
  }
  .service-text-container h2 {
    font-size: 56px;
  }
  .service-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px;
    align-items: center;
  }
  .service-card-container .service-card {
    max-width: none;
  }
  .myProjects-container h2 {
    font-size: 56px;
    text-align: center;
  }
  .myProjects-text-container,
  .myProjects-text-container p {
    text-align: justify;
  }
  .myProjects-text-container p {
    margin-top: 40px;
  }
  .myProjects-container .btn-container {
    margin-top: 27px;
    overflow-x: scroll;
    justify-content: stretch;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .myProjcets-projects-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 47px;
    flex-direction: column;
    gap: 40px;
  }
  .testimonials-text-container h2 {
    font-size: 56px;
    text-align: center;
  }
  .testimonials-text-container {
    text-align: center;
  }
  .testimonials-text-container p {
    text-align: justify;
  }
  .testimonials-slider-container {
    margin-top: 80px;
  }
  .testimonials-slide {
    max-width: none;
    height: 344px;
  }
  .testimonials-slide-wrapper-img {
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 21px;
  }
  .testimonials-slide-wrapper-img img {
    max-width: 125px;
    width: 100%;
  }
  .testimonials-slide-wrapper {
    flex-direction: column;
    padding-inline: 22px;
  }
  .testimonials-slide-wrapper-text .position {
    display: none;
  }
  .testimonials-slide-wrapper-img .position {
    display: flex;
    gap: 17px;
  }
  .testimonials-slide-wrapper-text p::before {
    bottom: 93%;
    left: -3%;
  }
  .testimonials-slide-wrapper-text p::after {
    top: 90.5%;
    margin-left: 7px;
  }
  .slider-dots {
    margin-top: 38px;
  }
  .contact-container h2 {
    font-size: 56px;
    text-align: center;
  }
  .contact-container p {
    text-align: justify;
    margin-top: 40px;
  }
  .contact-container {
    text-align: center;
  }
  form {
    max-width: none;
    display: flex;
    flex-direction: column;
  }
  .contact-form-container input {
    max-width: none;
  }
  .footer-container {
    margin-top: 86px;
    flex-direction: column-reverse;
  }
  .footer-navigation.container {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
  }
  .rights {
    font-size: 21px;
    padding: 48px;
    margin-top: 55px;
  }
  #dialog {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-inline: auto;
    text-align: justify;
    left: 0;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1420px) {
  .container {
    max-width: 1024px;
  }
  header.container {
    margin-top: 21px;
  }
  .header-nav ul {
    gap: 30px;
    flex-direction: column;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    top: 10%;
    opacity: 0;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    pointer-events: none;
  }
  .header-nav ul.active {
    pointer-events: all;
    height: auto;
    opacity: 1;
    background-color: #121212;
    padding-block: 15px;
  }
  .burger-btn img.rotate {
    transform: rotate(90deg);
  }
  .burger-btn.rotate {
    transform: rotate(90deg);
  }
  .burger-btn {
    display: block;
    border: none;
    outline: none;
    background-color: transparent;
  }
  .profile-wrapper {
    margin-top: 80px;
    flex-direction: column;
  }
  .top {
    max-width: 714px;
    margin-inline: auto;
  }
  .text-wrapper {
    max-width: none;
  }
  .text-wrapper .highlight {
    font-size: 40px;
  }
  .profile-wrapper.top .text-wrapper .description,
  .profile-wrapper button {
    display: none;
  }
  .text-wrapper h1 {
    font-family: "PoppinsBold";
    font-size: 100px;
  }
  .text-wrapper span {
    font-size: 100px;
    margin-top: -26px;
    align-self: flex-end;
  }
  .img-wrapper {
    margin-top: 30px;
  }
  .img-wrapper .img-container {
    flex-direction: column;
    gap: 19px;
    align-items: center;
  }
  .img-wrapper .about-above-img {
    max-width: none;
  }
  .img-wrapper .about-bottom-img {
    display: none;
  }
  .social-links {
    margin-top: 40px;
  }
  .text-wrapper h2 {
    font-size: 56px;
    text-align: center;
  }
  .bottom {
    margin-top: 62px;
  }
  .profile-wrapper.bottom .text-wrapper .description {
    text-align: justify;
  }
  .diagram {
    gap: 28px;
  }
  .services-container {
    margin-top: 74px;
  }
  .service-text-container {
    text-align: center;
  }
  .service-text-container p {
    margin-top: 40px;
    text-align: center;
  }
  .service-text-container h2 {
    font-size: 56px;
  }
  .service-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px;
    align-items: center;
  }
  .service-card-container .service-card {
    max-width: none;
  }
  .myProjects-container h2 {
    font-size: 56px;
    text-align: center;
  }
  .myProjects-text-container,
  .myProjects-text-container p {
    text-align: center;
  }
  .myProjects-text-container p {
    margin-top: 40px;
  }
  .myProjects-container .btn-container {
    margin-top: 27px;
    overflow-x: scroll;
    justify-content: center;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .myProjcets-projects-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 47px;
    flex-direction: column;
    gap: 40px;
  }
  .testimonials-text-container h2 {
    font-size: 56px;
    text-align: center;
  }
  .testimonials-text-container {
    text-align: center;
  }
  .testimonials-text-container p {
    text-align: center;
  }
  .testimonials-slider-container {
    margin-top: 80px;
  }
  .testimonials-slide {
    max-width: none;
    height: 344px;
  }
  .testimonials-slide-wrapper-img {
    display: block;
  }
  .testimonials-slide-wrapper-img img {
    max-width: none;
    width: 100%;
  }
  .testimonials-slide-wrapper {
    flex-direction: row;
    padding-inline: 0px;
  }
  .testimonials-slide-wrapper-text .position {
    display: flex;
  }
  .testimonials-slide-wrapper-text p::before {
    bottom: 93%;
    left: -3%;
  }
  .testimonials-slide-wrapper-text p::after {
    top: 90.5%;
    margin-left: 7px;
  }
  .slider-dots {
    margin-top: 38px;
  }
  .contact-container h2 {
    font-size: 56px;
    text-align: center;
  }
  .contact-container p {
    text-align: center;
    margin-top: 40px;
  }
  .contact-container {
    text-align: center;
  }
  form {
    max-width: none;
    display: flex;
    flex-direction: column;
  }
  .contact-form-container input {
    max-width: none;
  }
  .footer-container {
    margin-top: 86px;
    flex-direction: column-reverse;
  }
  .footer-navigation.container {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
  }
  .rights {
    font-size: 21px;
    padding: 48px;
    margin-top: 55px;
  }
  #dialog {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-inline: auto;
    text-align: justify;
    left: 0;
  }
}
