@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"),
    url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"),
    url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PoppinsSemiBold";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue-Regular.woff2") format("woff2"),
    url("../fonts/BebasNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PoppinsRegular";
}
body {
  background-color: #1e1e1e;
}
.logo {
  font-family: "Bebas Neue";
  font-size: 28px;
  color: #c7c7c7;
  line-height: 100%;
  letter-spacing: -0.28px;
}
.container {
  max-width: 1420px;
  width: 100%;
  margin: auto;
}
header.container {
  margin-top: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  display: flex;
  gap: 38px;
  align-items: center;
}
.header-nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}
.header-nav ul li {
  line-height: 100%;
}
header a {
  font-size: 21px;
  letter-spacing: 0.63px;
}
header a,
.header-nav button {
  color: #ffffff;
  text-decoration: none;
}

.header-nav button {
  background-color: #fd6f00;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 21px;
  padding: 18px;
  letter-spacing: 0.63px;
  padding-block: 10px;
  cursor: pointer;
  text-align: justify;
}

.profile-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
}

.text-wrapper {
  max-width: 714px;
  width: 100%;
}
.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.text-wrapper p {
  font-family: "PoppinsSemiBold";
  color: #ffffff;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.72px;
}
.text-wrapper .description {
  color: #ffffff;
  font-size: 21px;
  font-family: "PoppinsRegular";
  margin-top: 28px;
  letter-spacing: 0.63px;
  text-align: justify;
}
.text-wrapper .highlight {
  font-family: "PoppinsSemiBold";
  color: #fd6f00;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.96px;
}
.text-wrapper h1,
.text-wrapper span {
  font-family: "PoppinsBold";
  font-size: 100px;
  line-height: 120%;
  letter-spacing: 3px;
  color: #ffffff;
}
.text-wrapper span {
  align-self: flex-end;
  margin-top: -26px;
}
.img-wrapper {
  max-width: 538px;
  width: 100%;
}
.img-wrapper img {
  max-width: 485px;
  width: 100%;
}
.text-wrapper button {
  margin-top: 22px;
  background-color: #fd6f00;
  color: #ffffff;
  max-width: 188px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 21px;
  padding: 52px;
  letter-spacing: 0.63px;
  padding-block: 10px;
  cursor: pointer;
  text-align: justify;
  align-self: flex-start;
}
.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-links {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.social-links img {
  max-width: 32.48px;
  width: 100%;
  cursor: pointer;
}
.text-wrapper h2 {
  font-family: "PoppinsSemiBold";
  line-height: 100%;
  font-size: 65px;
  letter-spacing: 1.95px;
  color: #ffffff;
}
.img-wrapper .about-bottom-img {
  max-width: 545px;
  width: 100%;
}
.diagram {
  margin-top: 15px#FD6F00;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.diagram .slide {
  position: relative;
  display: block;
  height: 12px;
  width: 100%;
  background-color: #c7c7c7;
  border-radius: 6px;
}
.diagram .fill {
  position: absolute;
  width: 72%;
  background-color: #fd6f00;
  height: 100%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.diagram .circle {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translateY(-50%);
  border-radius: 50%;
  height: 32px;
  width: 32px;
  background-color: #edecec;
  border: 3px solid #fd6f00;
}
