@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"),
    url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsMedium";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
    url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"),
    url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PoppinsSemiBold";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue-Regular.woff2") format("woff2"),
    url("../fonts/BebasNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PoppinsRegular";
}
body {
  background-color: #1e1e1e;
}
button {
  cursor: pointer;
}
.logo {
  font-family: "Bebas Neue";
  font-size: 28px;
  color: #c7c7c7;
  line-height: 100%;
  letter-spacing: -0.28px;
}
.container {
  max-width: 1420px;
  width: 100%;
  margin: auto;
}
header.container {
  margin-top: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  display: flex;
  gap: 38px;
  align-items: center;
}
.header-nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
  align-items: center;
}
.header-nav ul li {
  line-height: 100%;
}
header a {
  font-size: 21px;
  letter-spacing: 0.63px;
}
header a,
.header-nav button {
  color: #ffffff;
  text-decoration: none;
}
.burger-btn {
  display: none;
}
.header-nav ul button {
  background-color: #fd6f00;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 21px;
  padding: 18px;
  letter-spacing: 0.63px;
  padding-block: 10px;
  text-align: justify;
}

.profile-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
}

.text-wrapper {
  max-width: 714px;
  width: 100%;
}
.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.text-wrapper p {
  font-family: "PoppinsSemiBold";
  color: #ffffff;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.72px;
}
.text-wrapper .description,
.service-text-container p,
.myProjects-container p,
.testimonials-text-container p,
.contact-container p {
  color: #ffffff;
  font-size: 21px;
  font-family: "PoppinsRegular";
  margin-top: 28px;
  letter-spacing: 0.63px;
  text-align: justify;
}
.text-wrapper .highlight,
.service-card .card span {
  font-family: "PoppinsSemiBold";
  color: #fd6f00;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.96px;
}
.text-wrapper h1,
.text-wrapper span {
  font-family: "PoppinsBold";
  font-size: 100px;
  line-height: 120%;
  letter-spacing: 3px;
  color: #ffffff;
}
.text-wrapper span {
  align-self: flex-end;
  margin-top: -26px;
}
.img-wrapper {
  max-width: 538px;
  width: 100%;
}
.img-wrapper img {
  max-width: 485px;
  width: 100%;
}
.text-wrapper button {
  margin-top: 22px;
  background-color: #fd6f00;
  color: #ffffff;
  max-width: 188px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 21px;
  padding: 52px;
  letter-spacing: 0.63px;
  padding-block: 10px;
  cursor: pointer;
  text-align: justify;
  align-self: flex-start;
}
.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-links {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 25px;
}
.social-links img {
  max-width: 32.48px;
  width: 100%;
  cursor: pointer;
}
.text-wrapper h2,
.service-text-container h2,
.myProjects-container h2,
.testimonials-text-container h2,
.contact-container h2 {
  font-family: "PoppinsSemiBold";
  line-height: 100%;
  font-size: 65px;
  letter-spacing: 1.95px;
  color: #ffffff;
}
.img-wrapper .about-bottom-img {
  max-width: 545px;
  width: 100%;
}
.diagram {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.diagram .slide {
  position: relative;
  display: block;
  height: 12px;
  width: 100%;
  background-color: #c7c7c7;
  border-radius: 6px;
}
.diagram .fill {
  position: absolute;
  width: 0%;
  transition: 1s ease-in-out;
  background-color: #fd6f00;
  height: 100%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.diagram .circle {
  position: absolute;
  top: 50%;
  left: 0%;
  transition: 1s ease-in-out;
  transform: translateY(-50%);
  border-radius: 50%;
  height: 32px;
  width: 32px;
  background-color: #edecec;
  border: 3px solid #fd6f00;
}
.services-container,
.myProjects-container,
.testimonials-container {
  margin-top: 140px;
}
.service-text-container,
.myProjects-text-container,
.testimonials-text-container,
.contact-container {
  text-align: center;
}
.service-text-container p,
.myProjects-text-container p,
.testimonials-text-container p,
.contact-container p {
  margin-top: 20px;
  text-align: center;
}
.service-card {
  max-width: 330px;
  width: 100%;
  height: 346px;
  background-color: #f8f8f8;
  border-radius: 14px;
}
.service-card-container {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
}
.service-card .card {
  padding-inline: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.card .card-head img {
  max-width: 70px;
}
.service-card .card p {
  font-size: 19px;
  line-height: 100%;
  letter-spacing: 0.57px;
}
.service-card .card span {
  color: black;
}
.card-body {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.service-card:nth-of-type(2) .card-head img {
  max-width: 72px;
}
.service-card:nth-of-type(3) .card-head img {
  max-width: 47px;
}
.service-card:nth-of-type(4) .card-head img {
  max-width: 82px;
}
.myProjects-container .btn-container {
  margin-top: 60px;
  display: flex;
  gap: 17px;
  justify-content: center;
}
.myProjects-container .btn-container button {
  padding-block: 10px;
  padding-inline: 20px;
  border-radius: 12px;
  outline: none;
  border: none;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.72px;
  text-align: center;
  white-space: nowrap;
}
.myProjects-container .btn-container button[active] {
  background-color: #fd6f00;
  color: white;
}
.myProjcets-projects-wrapper {
  margin-top: 106px;
  display: flex;
  justify-content: space-between;
}
.myProjcets-projects-wrapper img {
  width: 100%;
}
.myProjcets-projects-wrapper p {
  color: #fd6f00;
  font-size: 19px;
  line-height: 100%;
  letter-spacing: 0.57px;
}
.myProjcets-projects-wrapper h3 {
  font-family: "PoppinsSemiBold";
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.72px;
  color: #ffffff;
  margin-top: 12px;
}
.testimonials-slider-container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
.testimonials-slide {
  display: none;
  max-width: 1087px;
  width: 100%;
  height: 344px;
  background-color: #f8f8f8;
  border-radius: 14px;
}
.active {
  display: block;
}
.testimonials-slide-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.testimonials-slide-wrapper-text {
  max-width: 716px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.testimonials-slide-wrapper-text p {
  position: relative;
  font-size: 21px;
  text-align: justify;
  line-height: 150%;
  letter-spacing: 0.42px;
}
.testimonials-slide-wrapper-text p::before {
  position: absolute;
  content: "“";
  font-family: "PoppinsBold";
  font-size: 32px;
  color: #fd6f00;
  line-height: 100%;
  text-align: justify;
  letter-spacing: 0.64px;
  bottom: 84%;
  left: -2%;
}
.testimonials-slide-wrapper-text p::after {
  position: absolute;
  content: "“";
  font-family: "PoppinsBold";
  font-size: 32px;
  color: #fd6f00;
  line-height: 100%;
  text-align: justify;
  letter-spacing: 0.64px;
  top: 89%;
  margin-left: 10px;
}
.testimonials-slide-wrapper span {
  display: block;
  font-family: "PoppinsMedium";
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.48px;
  text-align: justify;
}
.testimonials-slide-wrapper-img .position {
  display: none;
}
.position {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 19px;
  letter-spacing: 0.38px;
  line-height: 100%;
  text-align: justify;
}
.slider-dots {
  margin-top: 87px;
  display: flex;
  height: 30px;
  gap: 9px;
  justify-content: center;
  align-items: center;
}
.dot {
  width: 56px;
  height: 16px;
  background-color: #d9d9d9;
  border-radius: 8px;
  cursor: pointer;
}
.dot.active {
  background-color: #fd6f00;
}
.contact-container {
  margin-top: 90px;
}
.contact-form-container {
  margin-top: 50px;
}
.contact-form-container input {
  max-width: 312px;
  width: 100%;
  border-radius: 14px;
  border: 1px solid #afafaf;
  outline: none;
  font-size: 21px;
  padding-left: 25px;
  padding-block: 22px;
}
.contact-form-container input::placeholder {
  font-family: "PoppinsRegular";
  font-size: 21px;
}
form {
  display: grid;
  margin: auto;
  justify-content: center;
  column-gap: 28px;
  row-gap: 41px;
  max-width: 994px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
}
textarea {
  grid-column: 1/4;
  grid-row: 2;
  border-radius: 14px;
  resize: none;
  border: 1px solid #afafaf;
  height: 116px;
  outline: none;
  padding-top: 22px;
  padding-left: 25px;
  font-size: 21px;
}
textarea::placeholder {
  font-family: "PoppinsRegular";
  font-size: 21px;
}
.contact-form-container input[type="submit"] {
  font-family: "PoppinsSemiBold";
  font-size: 24px;
  letter-spacing: 0.72px;
  line-height: 100%;
  grid-column: 2;
  grid-row: 3;
  padding-left: 0px;
  background-color: #fd6f00;
  border: none;
  color: #ffffff;
  margin-top: -10px;
}
.footer-navigation {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 290px;
  gap: 40px;
}
.footer-navigation a {
  font-size: 21px;
  letter-spacing: 0.63px;
  color: #ffffff;
  text-decoration: none;
}
.rights {
  text-align: center;
  margin-top: 62px;
  background-color: #121212;
  color: #ffffff;
  padding-top: 19px;
  padding-bottom: 33px;
  font-size: 21px;
  letter-spacing: 0.63px;
  line-height: 100%;
}
